<!DOCTYPE hibernate-mapping PUBLIC 
    "-//Hibernate/Hibernate Mapping DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">
    
    <hibernate-mapping>
    <!-- 建立类与表的映射  class 对应实体类的全限定名，其中的table 指实体类队形的数据库表名，不谢的话默认和实体类名一致 -->
    <class name="COM.ZY.MODEL.user" > 
    <!-- name对应实体类中的字段名称
         column对应数据库中的列名。
     -->
     <!-- id 属性是独特的 它可以与表中的主键建立连接 -->
      <id name="id" column="u_id">
      <generator class="native"/>
      </id>
      <property name="name" column="u_name"></property>
      <property name="sal" column="u_sal"></property>
      <property name="CreateDate" column="u_CreateDate"></property>
   <!--   <property name="sex" column="u_sex"></property> -->
    </class>
    <query name="queryUser">
    select u  from user u 
    </query>
    </hibernate-mapping>
    